<footer class="w-full bg-[#333] text-white">
    <div class="footer-top p-8 md:p-16">
        <div class="container mx-auto max-w-6xl">
            <div class="footer-grid grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 py-8">
                <div class="footer-item">
                    <h1 class="text-[13px] font-bold uppercase pb-5">
                        MR ANT'S BAR
                    </h1>
                    <p class="text-neutral-400 text-base/relaxed">
                        Mr Ant's is a family run bar in the centre of the historic market town of Hexham,
                        Northumberland.
                    </p>
                </div>
                <div class="footer-item">
                    <h1 class="text-[13px] font-bold uppercase pb-5">
                        Location
                    </h1>
                    <p class="text-neutral-400 text-base/relaxed">
                        22 Priestpopple, Hexham, NE46 1PQ
                    </p>
                </div>
                <div class="footer-item">
                    <h1 class="text-[13px] font-bold uppercase pb-5">
                        Contact
                    </h1>
                    <p class="uppercase text-xs font-bold text-neutral-400">
                        Telephone
                    </p>
                    <p class="text-neutral-400 text-base/relaxed mb-2">
                        01434 606465
                    </p>
                    <p class="uppercase text-xs font-bold text-neutral-400">
                        Email
                    </p>
                    <a href="mailto:mrants@hotmail.co.uk" class="text-primary text-base/relaxed">
                        mrants@hotmail.co.uk
                    </a>
                </div>
                <div>
                    <h1 class="text-[13px] font-bold uppercase pb-5">
                        Opening Times
                    </h1>
                    <table class="text-neutral-400 uppercase text-xs/5 font-bold w-full [&_tr_td:last-child]:text-right">
                        <tbody>
                            <tr>
                                <td>
                                    Monday
                                </td>
                                <td>
                                    12:00pm - 11:00pm
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Tuesday
                                </td>
                                <td>
                                    12:00pm - 11:00pm
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Wednesday
                                </td>
                                <td>
                                    12:00pm - 11:00pm
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Thursday
                                </td>
                                <td>
                                    12:00pm - 12:00am
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Friday
                                </td>
                                <td>
                                    12:00pm - 12:30am
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Saturday
                                </td>
                                <td>
                                    12:00pm - 01:30am
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sunday
                                </td>
                                <td>
                                    3:00pm - 11:00pm
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-neutral-800 px-8 py-4">
        <div class="container mx-auto max-w-6xl flex justify-between items-center">
            <div class="copyright">
                <p class="text-neutral-500 text-sm">
                    © 2025 - Mr Ant's Bar
                </p>
            </div>
            <div class="flex gap-2 items-center justify-center text-neutral-500">
                <a href="https://twitter.com/mrantsbar" class="hover:text-neutral-50">
                    <i data-feather="twitter"></i>
                </a>
                <a href="https://www.facebook.com/mrantsbar" class="hover:text-neutral-50">
                    <i data-feather="facebook"></i>
                </a>
                <a href="https://www.instagram.com/mrantsbar/" class="hover:text-neutral-50">
                    <i data-feather="instagram"></i>
                </a>
            </div>
            <div class="terms">
                <a href="/terms" class="text-neutral-500 hover:text-neutral-50 text-sm">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>