{{ define "main" }}
<div class="pb-16">
    <article class="container mx-auto max-w-6xl">

        {{ partial "section-header.html" (dict "title" .Title "description" "") }}

        <div class="grid md:grid-cols-4 gap-4">
            {{ $images := .Resources.ByType "image" }}
            {{ range $images }}
            <a href="{{ .RelPermalink }}" class="glightbox">
                <img src="{{ .RelPermalink }}" alt="{{ .Name }}" class="aspect-square object-cover" />
            </a>
            {{ end }}
        </div>
    </article>
</div>
{{ end }}