{{ define "main" }}

{{ partial "hero.html" . }}

{{ partial "section-header.html" (dict "title" "Hire the Bar" "description" "") }}

<div class="p-8 md:p-16">
    <div class="container max-w-6xl mx-auto flex flex-col lg:flex-row gap-8 justify-center">
        <div class="basis-1/2 space-y-2 text-base/8">
            <h1 class="font-medium text-3xl">
                Private Function Hire
            </h1>
            <p>
                Got something to celebrate?
            </p>
            <p>
                Mr Ant’s is available for your functions free of charge with a full bar service for groups of over 30 on
                Tuesday/Wednesday/Thursday after 3pm and Sunday day and evening.
            </p>
            <p>
                Smaller groups may have free hire of their own roped off VIP area for their exclusive use with table
                service.
            </p>

            <p>
                Sole hire of Mr Ant’s is available for smaller groups but a hire charge will be applicable dependent on
                numbers.
            </p>

            <p>
                Also available:
            </p>
            <ul class="list-inside list-disc">
                <li>
                    Select your own cocktail menu
                </li>
                <li>
                    Playlist of your choice
                </li>
                <li>
                    Snacks and buffet menu available as mobile bar service
                </li>
            </ul>
        </div>
        <div class="basis-1/2 space-y-2 text-base/8">
            <h1 class="font-medium text-3xl">
                Mobile Bar Service
            </h1>
            <p>
                Need a free professional bar service for your event? Then we are here for all your needs.
            </p>
            <p>
                Available for all types of celebrations and parties.
            </p>
            <p>
                Full bar service is available including draughts and cocktails.
            </p>
            <p>
                We will take care of all your requirements from arranging your temporary event notice, full set up and
                clear up service, all drinks and glassware.
            </p>
            <p>
                For more information or to arrange a booking please email us at <a href="mailto:mrants@hotmail.co.uk"
                    class="text-primary">mrants@hotmail.co.uk</a> or call us on 01434
                606465.
            </p>
            <p>
                Please see our terms & conditions for further information.
            </p>
        </div>
    </div>
</div>

<div class="bg-neutral-50">

    {{ partial "section-header.html" (dict "title" "TERMS & CONDITIONS" "description" "Terms of use for the Mobile Bar & Private Hire") }}

    <div class="p-8 md:p-16">
        <div class="container max-w-6xl mx-auto flex flex-col lg:flex-row gap-8 justify-center">
            <div class="basis-1/2 space-y-2">

                <h1 class="font-medium text-3xl">
                    Private Hire
                </h1>

                <ul class="list-decimal text-base/relaxed space-y-2">
                    <li>
                        <h2 class="font-medium">
                            Confirmation and Deposit
                        </h2>
                        <p>
                            A written confirmation and refundable deposit of £100 is required for sole hire. Final
                            confirmation is required one week
                            in advance of the event with approximate numbers.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Cancellation
                        </h2>
                        <p>
                            This deposit will be non-refundable if cancellation is within 2 weeks of your event;
                            otherwise
                            you will be entitled to a refund of 50% of your deposit.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Numbers
                        </h2>
                        <p>
                            If the numbers attending is greater than the maximum capacity of the room, Mr Ant’s will be
                            under no obligation to provide facilities or cater for the additional numbers.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Payment
                        </h2>
                        <p>
                            Any outstanding payment for an event must be made in full at the end of the event. All major
                            credit card details are accepted. All payment must be paid in pounds sterling and are
                            subject to
                            Value Added Tax at the current rate.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Timings
                        </h2>
                        <p>
                            Mr Ant’s is available for private hire at the times specified on our website. Use of the
                            room
                            outside the above times can be discussed and confirmed on a case by case basis. The function
                            shall start and finish in accordance with the timings specified or agreed in writing.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Menus & Drinks List
                        </h2>
                        <p>
                            Menus are based on seasonal availability and are subject to change. We do cater for dietary
                            requirements and kindly ask to be advised of these in advance. The drinks and wine list is
                            subject to price and changes throughout the year. Any menu and drinks changes shall be
                            relayed
                            to the client. In order to fully prepare for your reservation we require menu choices to be
                            confirmed 7 days prior to the date of the function. Only food produced by Mr Ant’s kitchen
                            is
                            permitted for consumption on the premises.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Mr Ant’s Premises
                        </h2>
                        <p>
                            The Client will ensure that:<br>
                            No damage is caused to Mr Ant’s, its fittings, decorations and furnishings. The conduct of
                            its
                            guests does not cause any nuisance or offence to other person or guests visiting Mr Ant’s.
                            The
                            client is to ensure that the guests do not access the bar after the event. Any items
                            belonging
                            to the restaurant remain on the premises. The guests fully comply with the emergency
                            procedures
                            should the need arise.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Age Restrictions
                        </h2>
                        <p>
                            We operate a strict policy on underage drinking. Guests that appear to be under 21 may be
                            challenged for photo I.D. in an acceptable format. Acceptable formats include: driving
                            licences,
                            passports or pass approved ID cards. We reserve the right to refuse service if acceptable ID
                            is
                            not produced.
                        </p>
                    </li>

                </ul>

            </div>

            <div class="basis-1/2 space-y-2">

                <h1 class="font-medium text-3xl">
                    Mobile Bar Service
                </h1>

                <ul class="list-decimal text-base/relaxed space-y-2">
                    <li>
                        <h2 class="font-medium">
                            Guest Numbers Condition – Pay Bar Customers
                        </h2>
                        <p>
                            You will have a minimum of 50 guests attending your event throughout the day.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Consumption of Own Drinks Conditions – Pay Bar Customers
                        </h2>
                        <p>
                            Guests are required to purchase their drinks from the bar that we provide for your event.
                            This means that guests are not permitted to bring their own drinks for consumption at the
                            venue. This is a licensing condition for which we retain responsibility. We reserve the
                            right to confiscate unauthorised drinks or remove them from the premises.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Special Orders
                        </h2>
                        <p>
                            Requests for specific drinks must be made at least 7 days prior to your event.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Pay Bar Customers – Licensing
                        </h2>
                        <p>
                            We are responsible for the operation of your bar in accordance with the Licensing Act 2003.
                            This means that the premises used for the event, including marquees or private houses, will
                            have been licensed to permit the retailing of alcohol for the duration of the event and the
                            licensing law will be in operation. We will arrange a temporary event notice for you. There
                            is a charge of £21. Payment for this is required when booking the bar service. If no such
                            licence exists for the premises the bar will not be permitted to open.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Pay Bar Customers – Age Restrictions
                        </h2>
                        <p>
                            We operate a strict policy on underage drinking. Guests that appear to be under 21 years of
                            age may be challenged for photo I.D. in an acceptable format. Acceptable formats include
                            driving licences, passports or pass approved I.D cards. We reserve the right to refuse
                            service if acceptable I.D. is not provided.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Pay Bar Customers – Security Deposit
                        </h2>
                        <p>
                            Your free hire booking is subject to a refundable security deposit of £100.00. Your payment
                            will be cashed or debited at the time of making your booking and will be refunded to you
                            after your event has taken place. Deposits will be retained in the event of cancellation of
                            your booking with less than 7 days notice.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Cancellation
                        </h2>
                        <p>
                            Surcharge of £200 will apply to all hirers in the event of cancellation of the event and no
                            notice being given to us in advance resulting in our arrival at the venue as booked.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Access
                        </h2>
                        <p>
                            You will be required to ensure that we have access to the venue at the time we agree with
                            you for the installation of your bar hire equipment. You must inform us in advance if there
                            are restrictions to the venue access such as time restrictions, parking restrictions or car
                            park height restrictions.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Equipment
                        </h2>
                        <p>
                            In the event of any specialist bar equipment being required it will be the responsibility of
                            the hirer to meet the cost of such equipment.
                        </p>
                    </li>
                    <li>
                        <h2 class="font-medium">
                            Damage
                        </h2>
                        <p>
                            Any damage sustained to any of Mr Ant’s equipment or property by guests will be billed to
                            the hirer.
                        </p>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    {{ end }}