{{ define "main" }}

{{ partial "section-header.html" (dict "title" "Privacy Policy" "description" "") }}

<div class="p-8 md:p-16">
    <div class="container mx-auto justify-center max-w-prose space-y-8 text-base/8">
        <div class="space-y-2">
            <p class="font-semibold">
                Introduction
            </p>
            <p>
                This website is operated by <strong>Mr Ant’s Bar</strong> and whose registered address is <strong>22
                    Priestpopple,
                    Hexham, NE46 1PQ.</strong>
                (“We”) are committed to protecting and preserving the privacy of our visitors when visiting our site or
                communicating electronically with us.
            </p>

            <p>
                This policy sets out how we process any personal data we collect from you or that you provide to us
                through
                our
                website. We confirm that we will keep your information secure and that we will comply fully with all
                applicable
                UK Data Protection legislation and regulations. Please read the following carefully to understand what
                happens
                to personal data that you choose to provide to us, or that we collect from you when you visit this site.
                By
                visiting mrants.co.uk (our website) you are accepting and consenting to the practices described in this
                policy.
            </p>
        </div>

        <div class="space-y-2">
            <p class="font-semibold">
                Types of information we may collect from you
            </p>

            <p>
                We may collect, store and use the following kinds of personal information about individuals who visit
                and use
                our website:
            </p>
        </div>
        <div class="space-y-2">
            <p class="font-semibold">
                Information you supply to us.
            </p>

            <p>
                You may supply us with information about you by filling in forms on our website. This includes
                information you
                provide when you submit our contact/enquiry form. The information you give us may include your name and
                e-mail
                address.
            </p>

            <p>
                Our Website does not collect any information about you automatically. Our website does not use cookies
                of any
                kind.
            </p>
        </div>
        <div class="space-y-2">
            <p class="font-semibold">
                How we may use the information we collect
            </p>

            <p>
                We use the information you supply to us in the following ways:
            </p>

            <p>
                To provide you with information and/or services that you request from us.
            </p>
        </div>
        <div class="space-y-2">
            <p class="font-semibold">
                Disclosure of your information
            </p>

            <p>
                Any information you provide to us will be emailed directly to us.
            </p>

            <p>
                We <strong>do not</strong> rent, sell or share personal information about you with other people or
                non-affiliated companies.
            </p>

            <p>
                We will use all reasonable efforts to ensure that your personal data is not disclosed to
                regional/national
                institutions and authorities, unless required by law or other regulations.
            </p>

            <p>
                Unfortunately, the transmission of information via the internet is not completely secure. Although we
                will do
                our best to protect your personal data, we cannot guarantee the security of your data transmitted to our
                site;
                any transmission is at your own risk. Once we have received your information, we will use strict
                procedures and
                security features to try to prevent unauthorised access.
            </p>

        </div>
        <div class="space-y-2">
            <p class="font-semibold">
                Changes to our privacy policy
            </p>

            <p>
                Any changes we may make to our privacy policy in the future will be posted on this page and, where
                appropriate,
                notified to you by e-mail. Please check back frequently to see any updates or changes to our privacy
                policy.
            </p>

        </div>
        <div class="space-y-2">

            <p class="font-semibold">
                Contact
            </p>

            <p>
                Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to
                mrants@hotmail.com.
            </p>

        </div>

    </div>

</div>

{{ end }}